#info {
    background-color: antiquewhite;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    position: fixed;
    
    
    
    z-index: 2;
    
    
}

#full_screen {

    right: 0;
}


#text {
    font-size: 12px;
}

#alert h2 {

    color: red;

    
}

#alert {
    font-size: 12px;
    
}


#agent_type {

    font-size: 12px;
}

